#Sensitive files
.env

# Node.js dependencies
node_modules/

# Build files
frontend/build/
fronten/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store

# IDE-specific files
.vscode/
.idea/

# Miscellaneous
*.local
coverage/